<h1>Sua thong tin sach</h1>
<a routerLink="/">list book</a>
<form (ngSubmit)="updateBook()" [formGroup]="bookForm">
  <input type="hidden" id="id" formControlName="id">
  <div>
    <label for="name">Ten sach</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="price">Gia sach</label>
    <input type="text" id="price" formControlName="price">
  </div>
 <div>
   <label for="author">Tac gia</label>
   <input type="text" id="author" formControlName="author">
 </div>
  <div>
    <label for="category">The loai</label>
    <select id="category" formControlName="category">
      <option [ngValue]="null" >Chon danh muc</option>
      <ng-container *ngFor="let category of categories">
        <option [value]="category.id">{{category.name}}</option>
      </ng-container>
    </select>
  </div>
  <div>
    <button>Update</button>
  </div>
</form>
